[Unit]
Description=Test Input
After=user-session.target dbus.socket lipstick.service
Requires=dbus.socket

[Service]
Type=dbus
BusName=com.giuliettasw.testinput
ExecStart=/usr/bin/testinput

[Install]
WantedBy=post-user-session.target
