[Unit]
Description=Test Input
After=user-session.target dbus.socket lipstick.service
Requires=dbus.socket

[Service]
Type=dbus
BusName=com.giuliettasw.testinput
ExecStart=/bin/dbus-send --session --print-reply --dest=org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus.StartServiceByName string:com.giuliettasw.testinput uint32:0

[Install]
WantedBy=post-user-session.target
